@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$green: #4CAF50;
$blue: rgb(68,138,255);

.navigation {
  .account-icon {
    cursor: default;
    outline: none;
  }

  .account-actions {
    position: absolute;
    min-width: 180px;
    padding: 6px 0;
    right: 36px;
    top: 54px;
    border-radius: 2px;
    background-color: #fff;
    color: #777;

    .line {
      padding: 6px 12px;
      display: block;
      color: #777;

      &:not(.static):hover {
        background-color: $blue;
        color: #fff;
      }
    }

    .divider {
      height: 1px;
      margin: 8px 1px;
      background-color: #e5e5e5;
    }
  }
}

.projects {
  .add {
    margin: 0 8px 20px 8px;

    .create {
      margin-left: 10px;
    }
  }

  .list {
    .item {
      margin: 0 8px 16px 8px;
      display: inline-flex;
      overflow: visible;
      z-index: 2;

      .mdl-card-actions {
        position: absolute;
        width: 120px;
        height: 32px;
        text-align: right;
        top: 16px;
        right: 16px;

        .timespan {
          font-size: 13px;
          font-weight: 600;
          line-height: 32px;
          color: #777;
        }

        .hover {display: none;}

        &:hover {
          .default {display: none;}
          .hover {display: inline-flex;}
        }
      }

      .mdl-card__title-text a {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #555;
        text-decoration: none;
        line-height: 32px;
      }
    }
  }
}

.project-detailed, .service-detailed {
  .mdl-card__supporting-text {
    width: 100%;
    padding-top: 4px;
  }

  section {
    padding: 8px 0;
    border-top: 1px solid #ccc;

    .block {
      display: block;
    }
  }

  .title {
    display: flex;
    align-items: flex-start;

    h6 {
      line-height: 36px;
      margin: 0;
      order: 0;
      flex-grow: 2;
    }

    .actions {
      margin-right: 5px;
    }
  }

  ul.list {
    padding: 0 16px;

    .mdl-list__item {
      padding: 8px 16px;

      .mdl-list__item-icon.active {
        color: $green;
      }
    }
  }

  .loading {
    margin-bottom: 12px;
    text-align: center;
  }

  .no-data {
    margin-left: 6px;
    color: #555;
  }

  form.service-form {
    .first-block {
      display: block;
    }

    .add-service {
      margin-left: 12px;
    }
  }
}

.mdl-layout__header {
  // background-color: #db4437;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
}

.default-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
}

.inline-loading {
  display: inline-flex;
  position: relative;
  top: 10px;
  left: 10px;
}

form.auth {
  margin: 24px auto 0 auto;
}

.mdl-mega-footer {
  margin-top: 12px;
}
