@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.projects {
  .add {
    margin: 0 8px 20px 8px;

    .create {
      margin-left: 10px;
    }
  }

  .list {
    .item {
      margin: 0 8px 16px 8px;
      display: inline-flex;
      overflow: visible;
      z-index: 2;

      .mdl-card-actions {
        position: absolute;
        width: 120px;
        height: 32px;
        text-align: right;
        top: 16px;
        right: 16px;

        .timespan {
          font-size: 13px;
          font-weight: 600;
          line-height: 32px;
          color: #777;
        }

        .hover {display: none;}

        &:hover {
          .default {display: none;}
          .hover {display: inline-flex;}
        }
      }

      .mdl-card__title-text a {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #555;
        text-decoration: none;
        line-height: 32px;
      }
    }
  }
}

.mdl-layout__header {
  // background-color: #db4437;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
}

.default-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
}

.inline-loading {
  display: inline-flex;
  position: relative;
  top: 10px;
  left: 10px;
}
